# TODO Required to build aenum package from git repo hack below.
# Note that you may need to run the pip install twice: once to install wheel, and a second time to build aenum. The
# first time will likely throw the following error:
#   error: invalid command 'bdist_wheel'
wheel>=0.36.2

# TODO Temporarily install the patched aenum from my fork until https://github.com/ethanfurman/aenum/issues/4 is
# resolved.
#aenum>=3.0.0
git+https://github.com/adamshapiro0/aenum.git@extend-enum#egg=aenum

numpy>=1.16.0
constuct>=2.10.0

# Required for analysis tools only.
plotly>=4.0.0
pymap3d>=2.4.3
